@media(min-width:701px){
    .searchBoxOuterActive{
       display: none;
    }
}

@media(max-width:700px){
    .searchBoxOuterActive{
        position: fixed;
        width: 100%;
        bottom: 69px;
        background-color: #412446;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .searchBoxOuterDeactive{
        display: none;
    }
    
    .searchBoxInner{
        width: 70%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
    }
    
    .searchBarMobile{
        height: 45px;
        border-radius: 6px;
        width: 100%;
        border: none;
        outline: none;
        background-color: #56345c;
        text-align: center;
        color: #E6E5E7;
       
    }
    
    .searchBarMobile:focus{
        border: none;
        outline: none;
        
    }
    
    .searchBarMobile::placeholder{
        text-align: center;
        color: #E6E5E7;
    }
    
    
    .searchBarMobile:focus::placeholder{
        color: transparent;
    }
    
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }
    
    
    .searchBarMobile input[type="search"]{
        color: white;
    }
    
    .magnifyForMobile{
        position: absolute;
        left: 1%;
    }
}