
.linkToSpotify{
    grid-row-start:1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    margin-left: 0%;
    justify-self: center;
    align-self: center;
}

.stageAndArtist{
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    justify-self: center;
    align-self: center;
   

}
.stage{
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    justify-self: center;
    align-self: center;
}

.guitarist{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 300px;
    margin-left: 330px;
    z-index: 1;
    justify-self: center;
    align-self: center;
    margin-bottom: 30px;
}

.pianist{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 100px;
    z-index: 1;
    margin-left: 70px;
    height: 300px;
}

.singer{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    z-index: 2;
    justify-self: end;
    align-self: center;
    height: 300px;
}

.women{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    z-index: 1;
    height: 300px;
    justify-self: center;
    align-self: center;
    margin-top: 50px;
}

.drummer{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    z-index: 1;
    height: 250px;
    margin-left: 250px;

}


@media(min-width:1621px){
    .parentHomeDiv{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 40% 60%;
        width: 100%;
        overflow: hidden;
        height: 92vh;
    }

    .stageTwo{
        display: none;
    }
    .stageAndArtist{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 50% 50%;
    }
    
    .shadowCircle,.shadowCircleTwo{
        display: none;
    }
    
}


@media(min-width:1084px) and (max-width:1620px){
    .parentHomeDiv{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 20% 60% 20% ;
        grid-template-rows: 50% 50% ;
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }
    .stageAndArtist{
        width: 1084px;
       }
    
    .linkToSpotify{
        grid-row-start:1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 0;
        justify-self: center;
        align-self: center;
    }

    .guitarist{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-left: 60px;
        height: 270px;
    }
    
    .pianist{
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        margin-bottom: 100px;
        z-index: 1;
        height: 250px;
        margin-left: 0px;
    
       
    }

    .women{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        z-index: 1;
        height: 280px;
        justify-self: center;
        align-self: center;
        margin-top: 50px;
    }

    .singer{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 6;
        z-index: 2;
        justify-self: end;
        align-self: center;
        height: 280px;
        margin-bottom: 50px;
    }

    
    .drummer{
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 5;
        z-index: 1;
        height: 250px;
    
        margin-left: 200px;

    }

    .stageTwo{
        display: none;
    }

    .stageAndArtist{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 50% 50%;
    }

    .shadowCircle,.shadowCircleTwo{
        display: none;
    }
    
}


@media(min-width:805px) and (max-width:1083px){
    .parentHomeDiv{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 20% 60% 20% ;
        grid-template-rows: 50% 50% ;
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }
    .stageAndArtist{
        width: 804px;
       }
    
    .linkToSpotify{
        grid-row-start:1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 0;
        justify-self: center;
        align-self: center;
    }

    .guitarist{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-left: 60px;
        height: 220px;
    }
    
    .pianist{
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        margin-bottom: 100px;
        z-index: 1;
        height: 220px;
        margin-left: 0px;
    
       
    }

    .women{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        z-index: 1;
        height: 220px;
        justify-self: center;
        align-self: center;
        margin-top: 50px;
    }

    .singer{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 6;
        z-index: 2;
        justify-self: end;
        align-self: center;
        height: 230px;
        margin-bottom: 50px;
    }

    
    .drummer{
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 5;
        z-index: 1;
        height: 220px;
    
        margin-left: 140px;

    }

    .stage{
       width:850px
    }

    .stageTwo{
        display: none;
    }
    
    .stageAndArtist{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 50% 50%;
    }

    .shadowCircle,.shadowCircleTwo{
        display: none;
    }
}


@media(min-width:500px) and (max-width:804px){
    .parentHomeDiv{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 20% 60% 20% ;
        grid-template-rows: 50% 50% ;
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }
    .stageAndArtist{
        width: 804px;
       }
    
    .linkToSpotify{
        grid-row-start:1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 0;
        justify-self: center;
        align-self: center;
    }

    .guitarist{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 100px;
        margin-left:0px;
        height: 150px;
        z-index: 2;
        justify-self: start;
        align-self: center;
        
    }
    
    .pianist{
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 100px;
        z-index: 1;
        height: 150px;
        margin-left: 100px;
        justify-self: center;
        align-self: center;
       
    }

    .women{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        z-index: 1;
        height: 150px;
        justify-self: center;
        align-self: center;
        margin-top: 80px;
    }

    .singer{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 6;
        z-index: 2;
        justify-self: end;
        align-self: center;
        height: 150px;
        margin-bottom: 0px;
        margin-top: 40px;
    }

    
    .drummer{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 5;
        z-index: 1;
        height: 140px;
        margin-top: 100px;
        margin-bottom: 0px;
        margin-left: 90px;

    }

    .stage{
       width:500px
    }

    .stageTwo{
        display: none;
    }
    
    .stageAndArtist{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 50% 50%;
        width: 500px;
    }

    .shadowCircle,.shadowCircleTwo{
        display: none;
    }
    
}

@media(min-width:320px) and (max-width:499px){
    .parentHomeDiv{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 20% 60% 20% ;
        grid-template-rows: 50% 50% ;
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }
    .stageAndArtist{
        width: 804px;
       }
    
    .linkToSpotify{
        grid-row-start:1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 0;
        justify-self: center;
        align-self: center;
    }

    .guitarist{
        grid-row-start:3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 0px;
        margin-left:30px;
        height: 120px;
        z-index: 2;
        justify-self: start;
        align-self: start;
        
    }
    
    .pianist{
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 0px;
        z-index: 1;
        height: 110px;
        margin-left: 80px;
        justify-self: center;
        align-self: center;
       
    }

    .women{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 4;
        z-index: 1;
        height: 120px;
        justify-self: center;
        align-self: center;
        margin-top: 10px;
    }

    .singer{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 6;
        z-index: 2;
        justify-self: center;
        align-self: center;
        height: 120px;
        margin-bottom: 0px;
        margin-top: 30px;
        margin-left: 0px;
    }

    
    .drummer{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 5;
        z-index: 1;
        height: 110px;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 40px;

    }

    .stage{
       display: none;
    }

    .stageTwo{
        display: none;
    }
    
    .stageAndArtist{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 25% 25% 25% 25%;
        width: 320px;
    }

   .shadowCircleTwo{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 6;
        justify-self: center;
        align-self: center;
        margin-top: 100px;
    }

    .shadowCircle{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 6;
        justify-self: center;
        align-self: end;
        margin-bottom: 10px;
    }
   
    
}