.main{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 0;
    
  
}


.addedSongs{
    overflow-y: scroll;
    overflow-x: none;
    height: 400px;
    width: 950px;
}
.resultHeading{
    margin-left: 10px;
}
.addedSongs::-webkit-scrollbar {
    width: 12px; 
}

.addedSongs::-webkit-scrollbar-track {
    background: #442342; 
    border-radius: 10px;
}

.addedSongs::-webkit-scrollbar-thumb {
    background-color: #5b3e59; 
    border-radius: 10px; 
    border: 3px solid #5b3e59; 
}


.form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.searchBar{
    display: flex;
    height: 50px;
    width: 100%;
    min-width: 400px;
    border-radius: 10px;
    border: none;
    background-color: #6e176d;
}

.searchBar::placeholder{
   color: rgb(255, 255, 255);
   opacity: 1;
}
.searchBar:focus{
    outline: none;
    border: none;
}

.searchBar:focus::placeholder{
    color: transparent;
}

.magnify{
    position: absolute;
     left: 5%;
     cursor: pointer;
}


input[type="text"]{
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

#search{
    margin-top: 50px;
    border-radius:50px ;
    background-color: #080532;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    min-width: 200px;
    height: 70px;
}

#search:hover{
    background-color: blueviolet;

}
.headingPlaylist{
    display:grid;
    background-color: #6b3568;
    width: 180px;
    border-radius: 50px;
    height:40px;
    grid-template-rows: 100%;
    align-items: center;
   
}

.addPlaylistHeading{
    font-size: 1.3rem;
   justify-self: center;
   color: white;
   
    
}


.results{
  
   width: 900px;
   position: relative;
}



.subHeading{
    font-size: 1rem;
    color: antiquewhite;
}





.songNameOfAddedSong{
    line-height: 20px;
    margin-left: 10px;
}

.album{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
    font-size: 0.9rem;
}
.artist{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
    font-size: 0.9rem;
}
.albumPhotoAndSongName{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
}

.albumPhotoAndSongName h3{
    font-size: 1rem;
}

.searchResults h3{
    margin-bottom: 0;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1.1rem;
    line-height: 20px;
}
.artistAndAlbum{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: start;

}

.artistAndAlbumActive{
    font-size: 1.2rem;
    transform: scale(0.9);
    transition: transform ease 300ms;
}

.artistAndAlbumDeactive{
    transform: scale(1);
    transition: transform ease 300ms;
}

h2{
    font-size: 1.8rem;
    color: white;
   
}

p{
    font-size: 0.9rem;
    margin-left: 3px;
    margin-top: 5px;
}

a{
    color: inherit;
    text-decoration: none;
}

.span{
    height: 3px;
    width: 90%;
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 10px;
    margin-top: 1%;
}

.cross{
    height:20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;
    justify-self: end;
    margin-right: 5%;
    cursor: pointer;

}

.minus{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 4%;
    justify-self:end;
    max-width: 30px;
    margin-top: 35px;
    min-width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 5%;
   
}

.submit{
    margin-top: 50px;
    border-radius:50px ;
    background-color: transparent;
    border: 1px solid #E6E5E7;
    color: white;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 1.3rem;
    cursor: pointer;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.inputPlaylist{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    opacity: 1;
    border: none;
    color: white;
    justify-self: center;
    align-self: center ;
    text-align: center;
    font-size: 1rem;
    border: 2px solid #7f647d;
}

.inputPlaylist:focus{
    outline: none;
    border: 2px solid #7f647d;
}

.inputPlaylist::placeholder{
    color: white;
}

.inputPlaylist:focus::placeholder{
    color: transparent;
   
}


.ResultAndClear{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    color: white;
   

}

.ResultAndClear h2{
    justify-self: start;
    width: 300px;
}

.clearEmblem{
    grid-column-start: 3;
    grid-column-end: 4;
    width: 30px;
    justify-self: end;
    align-self: center;
    cursor: pointer;
    margin-right: 5%;
    display: none;
}


.groupOfResults{
    display: flex;
    overflow: hidden;
    width: 850px;
    height: 400px;
    position: relative;

    
}

.imageAndPlus{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-self: start;
    cursor: pointer;
}

.songPictureActive{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    transition: transform ease 300ms;
    transform: scale(0.9);
    align-self: center;
}

.songPictureDeactive{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    transition: transform ease 300ms;
    transform: scale(1);
    align-self: center;
}


.plusSignActive{
    justify-self: center;
    height: 200px;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    
}

.plusSignDeactive{
    justify-self: center;
    height: 200px;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    display: none;
}

.arrows{
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: start;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 140px;
    
}

.rightArrow{
    transition: transform ease 300ms;
    cursor: pointer;
}

.leftArrow{
    transition: transform ease 300ms;
    cursor: pointer;
    z-index: 7;
    
}

.rightArrow:active{
    transform: scale(0.9);
}

.leftArrow:active{
    transform: scale(0.9);
}

.songArtist{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    color: white;
}

.songArtist h4{
    justify-self: center;
}

.albumPhotos{
    width: 50px;
    border-radius: 10px;
}

.searchResultsTwo{
    
}


@media (min-width:1500px){
    .resultsAndPlaylistTwo{
        display: none;
    }
    .resultsAndPlaylist{
        display: grid;
        grid-template-columns: 50% 34%;
        grid-template-rows: 100%;
        width: 900px;
        
        margin-top: 5%;
        margin-left:100px;
    }

    .searchResultsTwo{
        display: grid;
        grid-template-columns:  25% 25% 25% 25%;
        color: white;
        width: 900px;
        background-color: #3b103b;
        height: 90px;
        max-height: 90px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .albumTwo{
        display: none;
    }
    
    .artistTwo{
        display: none;
    }

    .searchResults{
        color: white;
        display: grid;
        grid-template-columns:  100%;
        grid-template-rows: 50% 20%;
        flex-direction: column;
        margin-left: 11px;
       
       
    }

    .addToPlaylist{
        margin-top: 0;
        min-height: 500px;
        width: 900px;
        border-radius: 20px;
        grid-column-start: 2;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 1fr 20%;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        
    }
}

@media (min-width:1500px) and (max-width:1870px){
    .groupOfResults{
        width: 643px;
      
    
        
    }

    .resultsAndPlaylist{
        display: grid;
        grid-template-columns: 50% 200px;
        grid-template-rows: 100%;
        width: 900px;
        
        margin-top: 5%;
        margin-left:250px;
    }

    .arrows{
        grid-column-start: 3;
        grid-column-end: 4;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
        
    }

    .results{
        width: 700px;
      
     }

     .addToPlaylist{
        margin-top: 0;
        min-height: 500px;
        width: 650px;
    }
    .addedSongs{
        
        width: 700px;
    }
    .main{
        width: 800px;
        
      
    }



    .songArtist{
        display: none;
    }

    .songNameOfAddedSong{
        font-size: 0.5rem;
    }

    
    .albumPhotoAndSongName h3{
        font-size: 0.7rem;
    }

    .album{
      
        font-size: 0.7rem;
    }
    .artist{
        font-size: 0.7rem;
    }

    .searchResultsTwo{
        display: grid;
        grid-template-columns:  25% 25% 25% 25%;
        color: white;
        width: 680px;
        background-color: #3b103b;
        height: 90px;
        max-height: 90px;
        border-radius: 10px;
        margin-top: 20px;
    }
    
    .albumTwo{
        display: none;
    }
    
    .artistTwo{
        display: none;
    }
  
}
@media (min-width:1355px) and (max-width:1499px){

    .addToPlaylist{
        margin-top: 0;
        min-height: 500px;
        width: 900px;
        border-radius: 20px;
        grid-column-start: 2;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 1fr 20%;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1rem;
    }
    .resultsAndPlaylist{
        display: grid;
        grid-template-columns: 50% 0px;
        grid-template-rows: 100%;
        width: 90%;
        
        margin-top: 5%;
        margin-left:140px;
    }

    .results{
        width: 680px;
      
     }
    .addToPlaylist{
        width: 650px;
        justify-self: center;
    }

    .clearEmblem{
        width: 25px;
    }
    .addedSongs{
        
        width: 700px;
    }

    .groupOfResults{
        width: 643px;
      
    
        
    }

    .songArtist{
        display: none;
    }

    
    .albumPhotoAndSongName h3{
        font-size: 0.7rem;
    }

    .album{
      
        font-size: 0.7rem;
    }
    .artist{
        font-size: 0.7rem;
    }

    .searchResultsTwo{
        display: grid;
        grid-template-columns:  25% 25% 25% 25%;
        color: white;
        width: 680px;
        background-color: #3b103b;
        height: 90px;
        max-height: 90px;
        border-radius: 10px;
        margin-top: 20px;
    }
    .albumTwo{
        display: none;
    }
    
    .artistTwo{
        display: none;
    }

    .searchResults{
        color: white;
        display: grid;
        grid-template-columns:  100%;
        grid-template-rows: 50% 20%;
        flex-direction: column;
        margin-left: 11px;
       
       
    }

    .resultsAndPlaylistTwo{
        display: none;
    }
}

@media (min-width:931px) and (max-width:1354px){
    .addToPlaylist{
        margin-top: 0;
        min-height: 500px;
        border-radius: 20px;
        grid-column-start: 2;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 1fr 20%;
        flex-direction: column;
        width: 450px;
        justify-self: center;
        margin-left: 0;
        margin-right: 100px;
        
    }
    .resultsAndPlaylist{
        display: grid;
        grid-template-columns: 50% 0px;
        grid-template-rows: 100%;
        width: 40%;
        
        margin-top: 12%;
        margin-left:0px;
    }

    .addedSongs{
        
        width: 700px;
    }

    
    .groupOfResults{
        width: 433px;
      
    
        
    }

    .addToPlaylist{
       
    }


    .results{
        width: 480px;
      
     }

     
     .addedSongs{
        
        width: 500px;
    }

    .form{

        width: 80%;
       
    }


    .songArtist{
        display: none;
    }

    .albumPhotoAndSongName h3{
        font-size: 0.7rem;
        margin-bottom: 0px;
        margin-left: 0px;
        align-self: center;
        margin-top: 0px;
    }

    .album{
      
        font-size: 0.7rem;
        display: none;
    }
    .artist{
        font-size: 0.7rem;
        display: none;
    }

    .searchResultsTwo{
        display: grid;
        grid-template-columns:  60% 30%;
        color: white;
        width: 480px;
        background-color: #3b103b;
        height: 120px;
        max-height: 120px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .songNameArtistAndAlbum{
        grid-column-start: 1;
        grid-column-start: 2;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        justify-content: center;
        align-items: start;
        height:80px;
        margin-left:10px;
        margin-top: 0px;
        width: 100%;
    }

    .artistTwo{
        margin-top: 0;
        margin-bottom: 0;
       align-self: center;
    }

    .albumTwo{
        margin-top: 0;
        margin-bottom: 0;
        align-self: center;
    }
    
    .minus{
      
        margin-top: 50px;
        
    } 

    .searchResults{
        color: white;
        display: grid;
        grid-template-columns:  100%;
        grid-template-rows: 50% 20%;
        flex-direction: column;
        margin-left: 11px;
       
       
    }
  
    .resultsAndPlaylistTwo{
        display: none;
    }
    
}

@media (min-width:701px) and (max-width:930px){
    .resultsAndPlaylist{
        display: grid;
        grid-template-columns: 50% 0px;
        grid-template-rows: 100%;
        width: 40%;
        
        margin-top: 60px;
        margin-left:0px;
        margin-bottom: 0px;
    }

    

    
    .groupOfResults{
        width: 333px;
      
    
        
    }

    .addToPlaylist{
        width: 270px;
        justify-self: end;
        align-self: end;
       
    }


    .results{
        width: 280px;
      
     }

     
     .addedSongs{
        
        width: 300px;
    }

    .form{

        width: 80%;
       
    }


    .songArtist{
        display: none;
    }

    .albumPhotoAndSongName h3{
        font-size: 0.7rem;
        margin-bottom: 0px;
        margin-left: 0px;
        align-self: center;
        margin-top: 0px;
    }

    .album{
      
        font-size: 0.7rem;
        display: none;
    }
    .artist{
        font-size: 0.7rem;
        display: none;
    }

    .searchResultsTwo{
        display: grid;
        grid-template-columns:  60% 30%;
        color: white;
        width: 280px;
        background-color: #3b103b;
        height: 120px;
        max-height: 120px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .songNameArtistAndAlbum{
        grid-column-start: 1;
        grid-column-start: 2;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        justify-content: center;
        align-items: start;
        height:80px;
        margin-left:10px;
        margin-top: 0px;
        width: 100%;
    }

    .artistTwo{
        margin-top: 0;
        margin-bottom: 0;
       align-self: center;
    }

    .albumTwo{
        margin-top: 0;
        margin-bottom: 0;
        align-self: center;
    }
    
    .minus{
      
        margin-top: 50px;
        
    } 
    
    .groupOfResults{
        width: 213px;
      
    
        
    }
    .searchResults{
        color: white;
        display: grid;
        grid-template-columns:  100%;
        grid-template-rows: 50% 20%;
        flex-direction: column;
        margin-left: 11px;
       
       
    }
    .resultsAndPlaylistTwo{
        display: none;
    }

    .addToPlaylist{
        margin-top: 0;
        min-height: 500px;
        
        border-radius: 20px;
        grid-column-start: 2;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 1fr 20%;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
        justify-self: end;
        align-self: end;
        
    }
    
}


@media(min-width:471px) and (max-width:700px){

    .searchResultsTwo{
        display: grid;
        grid-template-columns:  60% 30%;
        color: white;
        width: 98%;
        background-color: #3b103b;
        height: 120px;
        max-height: 120px;
        border-radius: 10px;
        margin-top: 20px;
    }


    .songNameArtistAndAlbum{
        grid-column-start: 1;
        grid-column-start: 2;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        justify-content: center;
        align-items: start;
        height:80px;
        margin-left:10px;
        margin-top: 0px;
        width: 100%;
    }
    .albumPhotoAndSongName h3{
        font-size: 0.7rem;
        margin-bottom: 0px;
        margin-left: 0px;
        align-self: center;
        margin-top: 0px;
    }
    .artistTwo{
        margin-top: 0;
        margin-bottom: 0;
       align-self: center;
    }

    .albumTwo{
        margin-top: 0;
        margin-bottom: 0;
        align-self: center;
    }
    
    .minus{
      
        margin-top: 50px;
        
    } 

    .album{
      
        font-size: 0.7rem;
        display: none;
    }
    .artist{
        font-size: 0.7rem;
        display: none;
    }
    
    .resultsAndPlaylistTwo{
        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        width: 100%;
        
        margin-top: 0px;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
    .resultsAndPlaylist{
        display: none;
    }

    .songArtist{
        display: none;
    }
    .main{
      
        margin-bottom: 0px;
        margin-top: 0px;
       
    }
    .songPictureActive{
        height: 120px;
        width: 120px;
    }

    .songPictureDeactive{
        height: 120px;
        width: 120px;
    }

    .inputPlaylist{
        z-index: 3;
    }

    .ResultAndClear{
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .resultHeading{
        margin-top: 7px;
        margin-bottom: 5px;
        font-size: 1.5rem;
    }

    .plusSignActive{
        height: 110px;
        
    }
    
    .plusSignDeactive{
        height: 90px;
    }

    .groupOfResults{
        display: flex;
        overflow: scroll;
        width: 100%;
        height: 400px;
        position: relative;
    
        
    }

    
    .groupOfResults::-webkit-scrollbar{
        display: none;
    }



    .artistAndAlbumActive{
        margin-top:0px;
    }
  
    .artistAndAlbumDeactive{
        margin-top:0px;
    }

    .songNameFor{
        margin-top: 0pc;
    }

    .artistAndAlbumActive h3{
        font-size: 0.8rem;
        margin-top: 0px;
    }

    .artistAndAlbumDeactive h3{
        font-size: 0.8rem;
        margin-top: 0px;
    }

    .artistAndAlbumDeactive p{
        font-size: 0.6rem;
        margin-top: 0px;
    }

    .artistAndAlbumActive h3{
        font-size: 0.8rem;
        margin-top: 0px;
    }

    .artistAndAlbumActive p{
        font-size: 0.6rem;
        margin-top: 0px;
    }
    .searchResults{
        color: white;
        display: grid;
        grid-template-columns:  100%;
        grid-template-rows: 35% 20%;
        flex-direction: column;
        margin-left: 11px;
       
       
    }

    .arrows{
        display: none;
    }

    .addToPlaylist{
        margin-top: 0;
        min-height: 450px;        
        border-radius: 20px;
        grid-column-start: 2;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 1fr 20%;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        justify-self: end;
        align-self: end;
        
    }
  

    .results{
        width: 100%;
      
     }

     
     .addedSongs{
        
        width: 103%;
        height: 250px;
    }

    .submit{
        margin-top: 0px;
        border-radius:50px ;
        background-color: transparent;
        border: 1px solid #E6E5E7;
        color: white;
        grid-row-start: 5;
        grid-row-end: 6;
        font-size: 1rem;
        cursor: pointer;
        min-width: 150px;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
    }
     
}


@media(min-width:320px) and (max-width:470px){

    .searchResultsTwo{
        display: grid;
        grid-template-columns:  60% 30%;
        color: white;
        width: 98%;
        background-color: #3b103b;
        height: 120px;
        max-height: 120px;
        border-radius: 10px;
        margin-top: 20px;
    }


    .songNameArtistAndAlbum{
        grid-column-start: 1;
        grid-column-start: 2;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        justify-content: center;
        align-items: start;
        height:80px;
        margin-left:10px;
        margin-top: 0px;
        width: 100%;
    }
    .albumPhotoAndSongName h3{
        font-size: 0.7rem;
        margin-bottom: 0px;
        margin-left: 0px;
        align-self: center;
        margin-top: 0px;
    }
    .artistTwo{
        margin-top: 0;
        margin-bottom: 0;
       align-self: center;
    }

    .albumTwo{
        margin-top: 0;
        margin-bottom: 0;
        align-self: center;
    }
    
    .minus{
      
        margin-top: 50px;
        
    } 

    .album{
      
        font-size: 0.7rem;
        display: none;
    }
    .artist{
        font-size: 0.7rem;
        display: none;
    }
    
    .resultsAndPlaylistTwo{
        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        width: 100%;
        
        margin-top: 0px;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
    .resultsAndPlaylist{
        display: none;
    }

    .songArtist{
        display: none;
    }
    .main{
        
    }
    .songPictureActive{
        height: 100px;
        width: 100px;
    }

    .songPictureDeactive{
        height: 100px;
        width: 100px;
    }


    .ResultAndClear{
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .resultHeading{
        margin-top: 7px;
        margin-bottom: 5px;
        font-size: 1.5rem;
    }

    .plusSignActive{
        height: 100px;
        
    }
    
    .plusSignDeactive{
        height: 100px;
    }

    .groupOfResults{
        display: flex;
        overflow: scroll;
        width: 100%;
        height: 400px;
        position: relative;
    
        
    }
    .groupOfResults::-webkit-scrollbar{
        display: none;
    }



    .artistAndAlbumActive{
        margin-top:0px;
    }
  
    .artistAndAlbumDeactive{
        margin-top:0px;
    }

    .songNameFor{
        margin-top: 0pc;
    }

    .artistAndAlbumActive h3{
        font-size: 0.8rem;
        margin-top: 0px;
    }

    .artistAndAlbumDeactive h3{
        font-size: 0.8rem;
        margin-top: 0px;
    }

    .artistAndAlbumDeactive p{
        font-size: 0.6rem;
        margin-top: 0px;
    }

    .artistAndAlbumActive h3{
        font-size: 0.8rem;
        margin-top: 0px;
    }

    .artistAndAlbumActive p{
        font-size: 0.6rem;
        margin-top: 0px;
    }
    .searchResults{
        color: white;
        display: grid;
        grid-template-columns:  100%;
        grid-template-rows: 28% 20%;
        flex-direction: column;
        margin-left: 11px;
       
       
    }

    .arrows{
        display: none;
    }

    .addToPlaylist{
        margin-top: 0;
        min-height: 450px;        
        border-radius: 20px;
        grid-column-start: 2;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 1fr 20%;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        justify-self: end;
        align-self: end;
        
    }
  

    
    .results{
        width: 100%;
      
     }
     
     .addedSongs{
        
        width: 103%;
        height: 250px;
    }

    .submit{
        margin-top: 0px;
        border-radius:50px ;
        background-color: transparent;
        border: 1px solid #E6E5E7;
        color: white;
        grid-row-start: 5;
        grid-row-end: 6;
        font-size: 1rem;
        cursor: pointer;
        min-width: 150px;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
    }

    .inputPlaylist{
        z-index: 3;
    }
     
}


   