.components{
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-rows: 10% 35% 1fr;
    height: 1400px;
}

.search{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    

}

.playlists{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    
}

.searching{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
   
    
}

.existingPlaylist{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top:82px;
    
}