.components{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 35% 1fr;
    height: 1400px;
    width: 100%;
}

.search{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: end;
    margin-right: 100px;
}

.playlists{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    
    
}

.searching{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
   
    
}

.existingPlaylist{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top:82px;
    
}


@media(min-width:1621px){
   
    
}


@media(min-width:1355px) and (max-width:1620px){
    .components{
        width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .existingPlaylist{
      margin-left: 100px;
        
    }

    .search{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: end;
        margin-right: 0px;
    }
}


@media(min-width:805px) and (max-width:1354px){
    .components{
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .search{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: end;
        margin-right: 200px;
    }
}


@media(min-width:500px) and (max-width:804px){
  
    
}

@media(min-width:320px) and (max-width:499px){

    
}